@model IEnumerable<Frontend_Modulo_dos_Sistema_de_Proyectos_VIE.Models.Convocatoria.oConvocatoria>

@{
    ViewBag.Title = "Index";
}
 
<div class="container-fluid mt-5 ml-3">
    <h3 class="blue font-weight-bold">Convocatorias</h3>
    <h4 class="ml-5">Convocatorias abiertas</h4>
    <div class="row align-items-center justify-items-center mt-5">
        <table class="table table-striped ">
            <thead class="table-heading">
                <tr id="ROW1">
                    <th>Nombre de la Convocatoria</th>
                    <th>Fecha y Hora Inicio</th>
                    <th>Fecha y Hora Final</th>
                    <th>Categoría Académica</th>
                    <th>Docuementación recibida</th>
                    <th>Ver Detalle</th>
                </tr>
            </thead>
            <tr>
                <th>x</th>
                <th>x</th>
                <th>x</th>
                <th>x</th>
                <th>x</th>
                <th>x</th>
            </tr>
            <tr>
                <th>x</th>
                <th>x</th>
                <th>x</th>
                <th>x</th>
                <th>x</th>
                <th>x</th>
            </tr>
        </table>
    </div>
</div>
 
