.body{
   font-family: Helvetica;
}

.page-title {
    padding: 2%;
    background: rgba(234, 234, 234, 0.5);
}

.page-title h3 {
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    line-height: 12px;
    color: #002854;
}

.sideMenu {
    background: #002854;
    border-radius: 3px;
    width: 20%;
}

.sideMenu a{
    color: #ffffff;
    font-size: 14px;
    line-height: 24px;
}

.sideMenu a:hover{
    color: #000000
}

