
@{
    ViewBag.Title = "BuscardorProyectos";
    Layout = "~/Views/Shared/MainMenu.cshtml";
}

<div class="container-fluid">
    <h2>Buscardor de Proyectos</h2>
    <div class="row">
        <div class="col-md-12 form-inline">
            <label for="parametrosInput">Parámetros de busqueda</label>
            <input type="text" class="form-control" id="parametrosInput" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 form-inline">
            <label>Criterio de búsqueda</label>
            <select class="form-control">
                <option>Criterios de busqueda</option>
                <option>Código</option>
            </select>
        </div>
    </div>
    <table class="table table-striped table-bordered disenoTabla">
        <tr id="ROW1">
            <th>Código</th>
            <th>Nombre del proyecto</th>
            <th>Investigador coordinador</th>
            <th>Fecha de inicio</th>
            <th>Fecha de finalización</th>
            <th>Oficial del proyecto</th>
            <th>Acciones</th>
        </tr>
        <tr>
            <th>x</th>
            <th>x</th>
            <th>x</th>
            <th>x</th>
            <th>x</th>
            <th>x</th>
            <th>x</th>
        </tr>
    </table>
</div>


