@{
    ViewBag.Title = "SISFIAP";
}

<div class="jumbotron">
    <h1>Vicerrectoría de Investigación y Extensión</h1>
    <p class="lead">Sistema de formulación en línea y adminsitración de proyectos</p>
    <p>
        El sistema de formulación en línea le permite postular sus proyectos de investigación o extensión a
        la VIE para que puedan ser evaluados y optar por diversas opciones de financiamiento hechas disponibles
        a través de convocatorias periódicas. Si está interesado(a) en iniciar un proyecto con nosotros
        solamente tiene que registrarse y subir un perfil o propuesta de proyecto.
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Regístrese aquí</h2>
        @Html.ActionLink("Ficha del investigador", "Index", "FichaInvestigador")
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>