@{
    ViewBag.Title = "Sistema de formulación en línea y administración de proyectos";
}

<div class="jumbotron">
    <h1>Vicerrectoría de Investigación y Extensión</h1>
    <p class="lead">Sistema de formulación en línea y administración de proyectos</p>
    <p>
        El sistema de formulación en línea le permite postular sus proyectos de investigación o extensión a
        la VIE para que puedan ser evaluados y optar por diversas opciones de financiamiento hechas disponibles
        a través de convocatorias periódicas. Si está interesado(a) en iniciar un proyecto con nosotros
        solamente tiene que registrarse y subir un perfil o propuesta de proyecto.
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <span style="font-size: 24px">
            @Html.ActionLink("Ver investigadores", "List", "FichaInvestigador")
        </span>
    </div>
    <div class="col-md-4">

    </div>
    <div class="col-md-4">

    </div>
</div>