@model List<Frontend_Modulo_dos_Sistema_de_Proyectos_VIE.Models.Frascati>

@{
    ViewBag.Title = "Áreas Frascati";
    Layout = "~/Views/Shared/ProyectoSideMenu.cshtml";

}


<div style="width:100%">
    <div class="container-fluid">
        <div class="row formRow">
            <div class="form-group col-md-12">
                <label for="nombreProyectoInput">Nombre del proyecto</label>
                <textarea class="form-control fullRowInput" id="nombreProyectoInput" rows="3"></textarea>
            </div>
        </div>
        <div class="row formRow">
            <div class="form-inline col-md-8">
                <label for="codigoProyectoInput">Código del proyecto</label>
                <input type="text" class="form-control" id="codigoProyectoInput" />
            </div>
        </div>
        @using (Html.BeginForm("AreaFrascati", "SeguimientoProyecto", new { codigo=ViewData["codigoProyecto"] },FormMethod.Post))
        {
            <div class="row formRow">
                <div class="form-inline col-md-8">
                    <label class="col-xs-5">Área frascati</label>
                    <select class="form-control col-xs-5" name="areaDropdown">
                        <option value="Ciencias naturales">Ciencias naturales</option>
                        <option value="Tecnología e ingeniería">Tecnología e ingeniería</option>
                        <option value="Ciencas médicas">Ciencias médicas</option>
                        <option value="Ciecias agriculturales">Ciencias agriculturales</option>
                        <option value="Ciencias sociales">Ciencias sociales</option>
                        <option value="Humanidades">Humanidades</option>
                    </select>
                </div>
            </div>
            <div class="row formRow">
                <div class="form-inline col-md-8">
                    <label class="col-xs-5">Sub-áreas</label>
                    <select class="form-control col-xs-5" name="subareaDropdown">
                        <option>Matemáticas</option>
                        <option>Ciencias físicas</option>
                        <option>Ciencias químicas</option>
                        <option>Ciencias de computación e información</option>
                        <option>Ciencias ambientales</option>
                        <option>Ciencias biológicas</option>
                    </select>
                </div>
            </div>
            <div class="row formRow">
                <div class="wrapperBotonAgregar">
                    <button class="botonAgregar" type="submit">Agregar</button>
                </div>
            </div>
        }
        <div class="row formRow">
            <div class="form-group col-md-12">
                <label for="areasFrascati"></label>
                <div class="table-responsive">
                    <table class="table table-striped table-bordered disenoTabla">
                        <tr id="ROW1">
                            <th>Código de área</th>
                            <th>Sub-área</th>
                            <th>Área</th>
                            <th> </th>
                        </tr>
                        @foreach (var frascati in Model)
                        {
            <tr>
                <th>@frascati.IdArea</th>
                <th>@frascati.SubArea</th>
                <th>@frascati.Area</th>
                <th> <div> <input class="botonEliminar" type="button" value="Eliminar"> </div></th>
            </tr>}

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
