@model Frontend_Modulo_dos_Sistema_de_Proyectos_VIE.Models.Proyecto

@{
    ViewBag.Title = "Datos del proyecto";
    Layout = "~/Views/Shared/ProyectoSideMenu.cshtml";
}

<div style="width:100%">
    <form class="container-fluid">
        <div class="row formRow">
            <div class="form-inline col-md-8">
                <label for="codigoProyectoInput">Código del proyecto</label>
                <input type="text" class="form-control" id="codigoProyectoInput" />
            </div>
            <div class="form-inline col-md-4">
                <label for="fechaIngresoInput">Fecha de ingreso</label>
                <input type="date" class="form-control" id="fechaIngresoInput" />
            </div>
        </div>
        <div class="row formRow">
            <div class="form-group col-md-12">
                <label for="nombreProyectoInput">Nombre del proyecto</label>
                <textarea class="form-control fullRowInput" id="nombreProyectoInput" rows="3"></textarea>
            </div>
        </div>
        <div class="row formRow">
            <div class="form-group col-md-12">
                <label for="objGeneralInput">Objetivo General</label>
                <textarea class="form-control fullRowInput" id="obsGeneralInput" rows="3"></textarea>
            </div>
        </div>
        <div class="row formRow">
            <div class="form-group col-md-12">
                <label for="obsEspecificosInput">Objetivos Especificos</label>
                <div class="table-responsive">
                    <table class="table table-striped table-bordered">
                        <tr>
                            <th>Objetivo Especifico</th>
                            <th>Acciones</th>
                        </tr>
                        <tr>
                            <th>prueba</th>
                            <th>prueba</th>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="row formRow">
            <div class="form-inline col-md-8">
                <label class="col-xs-5">Estado del proyecto</label>
                <select class="form-control col-xs-5">
                    <option>Activo</option>
                    <option>Inactivo</option>
                </select>
            </div>
            <div class="form-inline col-md-4">
                <label class="col-xs-5" for="numActaVIEInput">Número de acta VIE</label>
                <input type="text" class="form-control col-xs-5" id="numActaVIEInput" />
            </div>
        </div>
        <div class="row formRow">
            <div class="form-inline col-md-8">
                <label class="col-xs-5" >Tipos de proyecto</label>
                <select class="form-control col-xs-5">
                    <option>Investigación</option>
                    <option>Ayuda social</option>
                </select>
            </div>
            <div class="form-inline col-md-4">
                <label class="col-xs-5" for="numActaEscuelaInput">Número de acta escuela</label>
                <input type="text" class="form-control col-xs-5" id="numActaEscuelaInput" />
            </div>
        </div>
        <div class="row formRow">
            <div class="form-inline col-md-8">
                <label class="col-xs-5" >Tipos de proceso</label>
                <select class="form-control col-xs-5">
                    <option>Investigación</option>
                    <option>Ayuda social</option>
                </select>
            </div>
            <div class="form-inline col-md-4">
                <label class="col-xs-5" for="fechaAprobaciónInput">Fecha de aprobación</label>
                <input type="date" class="form-control col-xs-5" id="fechaAprobaciónInput" />
            </div>
        </div>
        <div class="row formRow">
            <div class="form-inline col-md-8">
                <label class="col-xs-5" for="fechaSuspensionInput">Fecha de suspensión</label>
                <input type="date" class="form-control col-xs-5" id="fechaSuspensionInput" />
            </div>
            <div class="form-inline col-md-4">
                <label class="col-xs-5" for="fechaInicioInput">Fecha de inicio</label>
                <input type="date" class="form-control col-xs-5" id="fechaInicioInput" />
            </div>
        </div>
        <div class="row formRow">
            <div class="form-inline col-md-8">
                <label class="col-xs-5" for="oficialProyectoInput">Fecha de suspensión</label>
                <input type="text" class="form-control col-xs-5" id="oficialProyectoInput" />
            </div>
            <div class="form-inline col-md-4">
                <label class="col-xs-5" for="fechaFinalInput">Fecha de inicio</label>
                <input type="date" class="form-control col-xs-5" id="fechaFinalInput" />
            </div>
        </div>
        <div class="row formRow">
            <div class="form-inline col-md-8">
                <label class="col-xs-5" >Modalidad del proyecto</label>
                <select class="form-control col-xs-5">
                    <option>Activo</option>
                    <option>Presencial</option>
                </select>
            </div>
        </div>
    </form>
</div>