
@{
    ViewBag.Title = "Departamentos";
    Layout = "~/Views/Shared/UIProyectoSideMenu.cshtml";
}

<div style="width:100%">
    <div class="container-fluid">
        <div class="row formRow">
            <div class="form-group col-md-12">
                <label for="nombreProyectoInput">Nombre del proyecto</label>
                <input type="text" class="form-control" id="codigoProyectoInput" value="@ViewData["NombreProyecto"]" disabled />
            </div>
        </div>
        <div class="row formRow">
            <div class="form-inline col-md-8">
                <label for="codigoProyectoInput">Código del proyecto </label>
                <input style="margin-left:5px" type="text" class="form-control" value="@ViewData["CodigoProyecto"]" id="codigoProyectoInput" disabled />
            </div>
        </div>
        @using (Html.BeginForm("UIProgramacionInformes", "SeguimientoProyecto", new { codigo = ViewData["CodigoProyecto"] }, FormMethod.Post))
        {
            <div class="row formRow">
                <div class="form-inline col-md-8">
                    <label for="codigoProyectoInput">Departamento </label>
                    <select style="margin-left:5px" class="form-control col-xs-5" name="tipoInformeDropdown">
                        <option>Mecátronica</option>
                        <option>Administración de empresas</option>
                    </select>
                </div>
            </div>
            <div class="row formRow">
                <div class="form-inline col-md-8">
                    <label for="codigoProyectoInput">Tipo departamento </label>
                    <select style="margin-left:5px" class="form-control col-xs-5" name="tipoInformeDropdown">
                        <option>Participante</option>
                        <option>Proponente</option>
                    </select>
                </div>
            </div>

            <div class="row formRow">
                <div class="wrapperBotonAgregar">
                    <button class="botonAgregar" type="submit">Agregar departamento</button>
                </div>
            </div>
        }
        <div class="row formRow">
            <div class="form-group col-md-12">
                <label for="UIDepartamentos"></label>
                <div class="table-responsive">
                    <table class="table table-striped table-bordered disenoTabla">
                        <tr id="ROW1">
                            <th>Departamento</th>
                            <th>Tipo</th>                            
                            <th> </th>
                        </tr>


                        <tr>

                            <th>xxxxx</th>
                            <th>xxxxx</th>

                            <th> <div> <button class="botonEliminar" type="submit"> Eliminar </button></div></th>

                        </tr>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

