
@{
    ViewBag.Title = "Incidencias";
    Layout = "~/Views/Shared/UIProyectoSideMenu.cshtml";
}


<div style="width:100%">
    <div class="container-fluid">
        <div class="row formRow">
            <div class="form-group col-md-12">
                <label for="nombreProyectoInput">Nombre del proyecto</label>
                <input type="text" class="form-control" id="codigoProyectoInput" value="@ViewData["NombreProyecto"]" disabled />
            </div>
        </div>
        <div class="row formRow">
            <div class="form-inline col-md-8">
                <label for="codigoProyectoInput">Código del proyecto</label>
                <input style="margin-left:5px" type="text" class="form-control" value="@ViewData["CodigoProyecto"]" id="codigoProyectoInput" disabled />
            </div>
        </div>
        @using (Html.BeginForm("UIIncidencias", "SeguimientoProyecto", new { codigo = ViewData["CodigoProyecto"] }, FormMethod.Post))
        {
            <div class="row formRow">
                <div class="form-inline col-md-8">
                    <label for="codigoProyectoInput">Titulo de la incidencia</label>
                    <input style="margin-left:5px" type="text" class="form-control" id="títuloIncidencia" />
                </div>
            </div>
            <div class="row formRow">
                <div class="form-inline col-md-12">
                    <label for="codigoProyectoInput">Descripción</label>
                    <div>
                        <textarea style="margin-left:5px" clas cols="200" rows="4" id="descripcionIncidencia"></textarea>
                    </div>
                </div>
            </div>

            <div class="row formRow">
                <div class="wrapperBotonAgregar">
                    <button class="botonAgregar" type="submit">Agregar Incidencia</button>
                </div>
            </div>
        }
        <div class="row formRow">
            <div class="form-group col-md-12">
                <label for="areasFrascati"></label>
                <div class="table-responsive">
                    <table class="table table-striped table-bordered disenoTabla">
                        <tr id="ROW1">
                            <th>Incidencia</th>
                            <th>Descripción</th>
                            <th> </th>
                        </tr>


                        <tr>

                            <th>xxxxx</th>
                            <th>xxxxx</th>

                            <th> <div> <button class="botonEliminar" type="submit"> Eliminar </button></div></th>

                        </tr>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>



