

@{
    ViewBag.Title = "Presupuesto";
    Layout = "~/Views/Shared/UIProyectoSideMenu.cshtml";


}


<div style="width:100%">
    <div class="container-fluid">
        <div class="row formRow">
            <div class="form-group col-md-12">
                <label for="nombreProyectoInput">Nombre del proyecto</label>
                <input type="text" class="form-control" id="codigoProyectoInput" value="@ViewData["NombreProyecto"]" disabled />
            </div>
        </div>
        <div class="row formRow">
            <div class="form-inline col-md-8">
                <label for="codigoProyectoInput">Código del proyecto</label>
                <input type="text" class="form-control" value="@ViewData["CodigoProyecto"]" id="codigoProyectoInput" disabled />
            </div>
        </div>
        @using (Html.BeginForm("UIPresupuesto", "SeguimientoProyecto", new { codigo = ViewData["CodigoProyecto"] }, FormMethod.Post))
        {
            <div class="row formRow">
                <div class="form-inline col-md-8">
                    <label class="col-xs-5">Fuentes de Financiamiento:  </label><hr>
                    <select class="form-control col-xs-5" name="fuentesDropdown">
                        <option>VIE</option>
                    </select>
                    <hr>

                    <label class="col-xs-5">Partida:  </label><hr>
                    <select class="form-control col-xs-5" name="partidaDropdown">
                        <option>Operacion   </option>

                    </select>
                </div>
            </div>
            <div class="row formRow">
                <div class="form-inline col-md-8">
                    <label for="palabraInput">Año:  </label><hr>
                    <input type="number" min="1900" max="2099" step="1" value="2021" /><hr>
                    <label for="palabraInput">Monto:</label><hr> <label >₡</label>
                    <input type="number" class="form-control" step="5" min=0 id="montoInput" name="montoInput"><br>
                </div>

            </div>
            <div class="row formRow">
                <div class="wrapperBotonAgregar">
                    <button class="botonAgregar" type="submit">Agregar área</button>
                </div>
            </div>
        }
        <div class="row formRow">
            <div class="form-group col-md-12">
                <label for="areasFrascati"></label>
                <div class="table-responsive">
                    <table class="table table-striped table-bordered disenoTabla">
                        <tr id="ROW1">
                            <th>Código de Presupuesto</th>
                            <th>Fuentes de Financiamiento</th>
                            <th>Partida</th>
                            <th>Año</th>
                            <th>Monto</th>

                            <th> </th>
                        </tr>


                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
